<div id="playerView" class="row view" ng-controller="PlayerController as playerController">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div ng-show="player == null && !loadingPlayer" ng-cloak>
            <h1>Register player</h1>

            <form id="registerPlayerForm" class="form-horizontal" ng-submit="submitPlayer()" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="nickname">Nickname:</label>

                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <input id="nickname" class="form-control" type="text" required="true" minlength="1" ng-model="register_nick" auto-focus/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2"><span class="error" ng-show="selectedPlayerClassError" title="{{selectedPlayerClassError}}">{{selectedPlayerClassError}}!</span> Personality:</label>

                    <div class="row-eq-height">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="player_class in register_player_form_data.player_classes">
                                <div class="player_class_box" ng-class="{'player_class_box-active': player_class.name == selectedPlayerClass}" ng-click="setSelectedPlayerClass(player_class.name)">
                                    <div class="name">{{player_class.name}}</div>
                                    <div>{{player_class.description}}</div>
                                    <br/>
                                    Stat modifiers:
                                    <table class="stats_list">
                                        <tr ng-repeat="(name, value) in player_class.stat_modifiers">
                                            <td class="col-xs-3 stats_color">{{name.replace('stat_', '')}}:</td>
                                            <td class="col-xs-1">{{value}}</td>
                                            <td class="col-xs-8"/>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" form="registerPlayerForm" value="Submit" class="btn btn-primary">Register!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="row" ng-show="player != null && !loadingPlayer" ng-cloak>
            <div class="col-xs-12 col-sm-6">
                <h1>{{player.nick}}</h1>

                <div>Skill: {{player.stats.skill}}</div>
                <div>Energy: {{player.energy}}</div>
                <div>Cash: ${{player.cash}}</div>
                <div>Doing: <span ng-show="player.doing == null">nothing</span>{{player.doing.what}} <span ng-show="player.doing.queued">({{player.doing.queued}} queued)</span></div>

                <div class="btn-toolbar margin-vertical">
                    <button ng-click="openPlayerConfigDialog()" class="btn btn-primary">Player configuration</button>
                    <button ng-click="openPlayerEquipmentDialog()" class="btn btn-primary">Equipment</button>
                </div>
                <div class="btn-toolbar margin-vertical">
                    <button ng-show="player.doing == null" ng-click="playAgainstBots()" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-primary">Play against bots</button>
                    <button ng-show="player.doing == null" ng-click="joinSoloMatchQueue('Unranked')" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-primary">Join unranked solo queue</button>
                    <button ng-show="player.doing == null" ng-click="joinSoloMatchQueue('Ranked')" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-primary">Join ranked solo queue</button>
                    <button ng-show="player.doing != null" ng-click="stopDoing()" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-warning">Stop doing whatever I am doing</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h1>Stats</h1>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 table-responsive stats_list">
                    <table class="col-xs-12">
                        <tr>
                            <th>Roles</th>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Mid:</td>
                            <td class="col-xs-4">{{player.stats.mid}}</td>
                            <td class="col-xs-2 stats_color">Carry:</td>
                            <td class="col-xs-4">{{player.stats.carry}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Offlane:</td>
                            <td class="col-xs-4">{{player.stats.offlane}}</td>
                            <td class="col-xs-2 stats_color">Support:</td>
                            <td class="col-xs-4">{{player.stats.support}}</td>
                        </tr>
                        <tr>
                            <th>Focus strengths</th>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Farm:</td>
                            <td class="col-xs-4">{{player.stats.farm}}</td>
                            <td class="col-xs-2 stats_color">Push:</td>
                            <td class="col-xs-4">{{player.stats.push}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Gank:</td>
                            <td class="col-xs-4">{{player.stats.gank}}</td>
                        </tr>

                    </table>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 table-responsive stats_list">
                    <table class="col-xs-12">
                        <tr>
                            <th>Psychological</th>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Flaming:</td>
                            <td class="col-xs-4">{{player.stats.flaming}}</td>
                            <td class="col-xs-2 stats_color">Flame resistance:</td>
                            <td class="col-xs-4">{{player.stats.resistance_flaming}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Trolling:</td>
                            <td class="col-xs-4">{{player.stats.trolling}}</td>
                            <td class="col-xs-2 stats_color">Troll resistance:</td>
                            <td class="col-xs-4">{{player.stats.resistance_trolling}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Concentration:</td>
                            <td class="col-xs-4">{{player.stats.concentration}}</td>
                            <td class="col-xs-2 stats_color">Morale:</td>
                            <td class="col-xs-4">{{player.stats.morale}}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-2 stats_color">Confidence:</td>
                            <td class="col-xs-4">{{player.stats.confidence}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>