<script type="text/ng-template" id="playerConfigDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Player config</h3>
    </div>
    <div class="modal-body">

        <label for="playerConfigSelect">Select configuration</label>
        <div class="input-group">
            <select ng-model="selectedConfigId" ng-change="setSelectedConfig()" class="form-control" id="playerConfigSelect">
                <option ng-repeat="config in player.configs | orderBy:'name'" value="{{config.id}}" ng-selected="config.active">
                    {{config.active ? config.name + ' (active)' : config.name}}
                </option>
            </select>
           <span class="input-group-btn">
                <button ng-click="createNewConfig()" class="btn btn-primary" ng-disabled="isCreatingNewConfig">+</button>
           </span>
        </div>
        <br/>
        <br/>

        <!--NAME-->
        <div ng-show="selectedConfig != null">
            <label for="playerConfigEmail">Name</label>
            <input type="text" ng-model="selectedConfig.name" class="form-control" id="playerConfigEmail">
        </div>
        <br/>

        <label>Hero Priority</label>
        <form name="registration_form" id="registration_form" class="form-horizontal">
            <div ng-repeat="heroPriority in heroPriorityList" class="form-group">
                <div class="col-sm-6">
                    <select ng-model="heroPriority.name" class="form-control">
                        <option ng-repeat="hero in heroes | orderBy:'name'" value="{{hero.name}}">
                            {{hero.name}}
                        </option>
                    </select>
                </div>
                <div class="col-sm-1">as</div>
                <div class="col-sm-4">
                    <select  ng-model="heroPriority.role" class="form-control">
                        <option  value="mid">mid</option>
                    </select>
                </div>
                <button ng-click="removeHeroPriority($index)" class="btn btn-danger col-sm-1">-</button>
            </div>
        </form>
        <button ng-click="addHeroPriority()" class="btn btn-primary" ng-disabled="isDoingConfigAction">+</button>
        <br/>
        <br/>
        <br/>

        <!--BUTTON TOOLBAR-->
        <div class="btn-toolbar margin-vertical">
            <button ng-show="selectedConfig.active" class="btn btn-success">Is active</button>
            <button ng-show="!selectedConfig.active" ng-click="setSelectedConfigAsActiveConfig()" class="btn btn-primary" ng-disabled="isDoingConfigAction">Set as active</button>
            <button ng-click="updateSelectedConfig()" class="btn btn-primary" ng-disabled="isDoingConfigAction">Update</button>
            <button ng-click="deleteSelectedConfig()" class="btn btn-danger" ng-disabled="isDoingConfigAction">Delete</button>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-warning">Close</button>
    </div>
</script>