<div id="playerView" class="row view" ng-controller="PlayerController as playerController">
    <div class="col-xs-12 col-sm-6 col-md-5">
        <div ng-show="player == null && !loading_player" ng-cloak>
            <h1>Register player</h1>

            <form id="registerPlayerForm" name="registerPlayerForm" ng-submit="submitPlayer()">
                <input type="text" required="true" minlength="1" ng-model="register_nick" placeholder="Nickname" auto-focus/>
                <button type="submit" form="registerPlayerForm" value="Submit" class="btn btn-primary">Register!</button>
            </form>
        </div>
    </div>

    <div class="col-xs-12">
        <div ng-show="player != null && !loading_player" ng-cloak>
            <h1>{{player.nick}}</h1>

            <div>Skill: {{player.skill}}</div>
            <div>Energy: {{player.energy}}</div>
            <div>Doing: <span ng-show="player.doing == null">nothing</span>{{player.doing.what}} <span ng-show="player.doing.queued">({{player.doing.queued}} queued)</span></div>

            <div class="btn-toolbar margin-vertical">
                <button ng-click="openPlayerConfigDialog()" class="btn btn-primary">Player configuration</button>
            </div>
            <div class="btn-toolbar margin-vertical">
                <button ng-show="player.doing == null" ng-click="playAgainstBots()" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-primary">Play against bots</button>
                <button ng-show="player.doing == null" ng-click="joinSoloMatchQueue('Unranked')" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-primary">Join unranked solo queue</button>
                <button ng-show="player.doing == null" ng-click="joinSoloMatchQueue('Ranked')" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-primary">Join ranked solo queue</button>
                <button ng-show="player.doing != null" ng-click="stopDoing()" ng-disabled="isDoingRelatedAjaxRunning" class="btn btn-warning">Stop doing whatever I am doing</button>
            </div>
        </div>
    </div>
</div>