<div id="matchesView" class="view" ng-controller="MatchesController as matchesController">
    <h1>Matches</h1>
    <div ng-show="player.matches.length == 0">- No Matches</div>
    <table ng-show="player.matches.length > 0">
        <tbody>
            <tr ng-repeat="match in player.matches">
                <td>Match id: {{match.id}} - </td>
                <td>{{match.winning_faction}} won - </td>
                <td><button ng-click="openMatchDialog(match)" class="btn btn-default">Load details</button></td>
            </tr>
        </tbody>
    </table>
</div>


<script type="text/ng-template" id="matchDialogContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Match</h3>
    </div>
    <div class="modal-body" ng-show="match != null">
        <div>{{match.winning_faction}} won!</div>
        <br />
        <table>
            <tbody>
                <tr ng-repeat="combatant in match.combatants | orderBy:['faction']">
                    <td>{{combatant.nick}}</td>
                    <td>{{combatant.faction}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-warning">Close</button>
    </div>
</script>