<div id="playerView" class="view" ng-controller="PlayerController as playerController">

    <div ng-show="player == null && !loading_player" ng-cloak>
        <h1>Register player</h1>
        <form id="registerPlayerForm" name="registerPlayerForm" ng-submit="submitPlayer()">
            <input type="text" required="true" minlength="1" ng-model="register_nick" placeholder="Nickname" auto-focus/>
            <button type="submit" form="registerPlayerForm" value="Submit" class="btn btn-default">Register!</button>
        </form>
    </div>

    <div ng-show="player != null && !loading_player" ng-cloak>
        <h1>Player: {{player.nick}}</h1>
        <div>Skill: {{player.skill}}</div>
        <div>Doing: <span ng-show="player.doing == null">nothing</span>{{player.doing.what}}</div>
        <button ng-show="player.doing == null" ng-click="playAgainstBots()" ng-disabled="isJoiningOrBotting" class="btn btn-default">Play against bots</button>
        <button ng-show="player.doing == null" ng-click="joinSoloMatchQueue('Unranked')" ng-disabled="isJoiningOrBotting" class="btn btn-default">Join unranked solo queue</button>
        <button ng-show="player.doing == null" ng-click="joinSoloMatchQueue('Ranked')" ng-disabled="isJoiningOrBotting" class="btn btn-default">Join ranked solo queue</button>
        <button ng-show="player.doing != null" ng-click="stopDoing()" class="btn btn-warning">Stop doing whatever I am doing</button>
    </div>

</div>