/* Part of installing the bootstrap lookalike components for AngularJS. https://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.row.view {
    margin: 5px;
    padding: 2px;
    border: solid black 1px;
}

.btn-toolbar.margin-bottom {
    margin-bottom: 5px;
}