<script type="text/ng-template" id="teamConfigDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Team config</h3>
    </div>
    <div class="modal-body">
        <label>
            Ranked local play time
            <span popover-placement="bottom" popover-trigger="mouseenter" popover="The selected hour range decide what (local) time your team may be matched with other teams for ranked team matches. Set them equal to opt-out."> (?)</span>
            <span ng-show="rankedTime.start_hour == rankedTime.end_hour">(off, drag sliders to turn on)</span>
        </label>
        <rzslider rz-slider-floor="0" rz-slider-ceil="24" rz-slider-model="rankedTime.start_hour" rz-slider-high="rankedTime.end_hour" rz-slider-translate="translateHoursToPrettyHours"></rzslider>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="update()" class="btn btn-primary" ng-disabled="isDoingConfigAction || (player.id != player.team.owner.id)" title="Only team owner can update">Update</button>
        <button type="button" ng-click="cancel()" class="btn btn-warning">Close</button>
    </div>
</script>