<script type="text/ng-template" id="teamConfigDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">Team config</h3>
    </div>
    <div class="modal-body">
        <h4>
            Ranked local play time
            <span popover-placement="bottom" popover-trigger="mouseenter" popover="The selected hour range decide what (local) time your team may be matched with other teams for ranked team matches. Set them equal to opt-out."> (?)</span>
            <span ng-show="rankedTime.start_hour == rankedTime.end_hour">(off, drag sliders to turn on)</span>
        </h4>
        <rzslider rz-slider-floor="0" rz-slider-ceil="24" rz-slider-model="rankedTime.start_hour" rz-slider-high="rankedTime.end_hour" rz-slider-translate="translateHoursToPrettyHours"></rzslider>
        <br/>
        <br/>
        <br/>
        <h4>
            Player configs and stats
            <span popover-trigger="mouseenter" popover="Look at all this beautiful data, sit down, grab a pack of chips and decide what role each player should have for team matches."> (?)</span>
        </h4>
        <table class="table">
            <thead>
            <tr>
                <th ng-repeat="member in player.team.members | orderBy:'nick'">
                    <span>{{member.nick}}:</span>
                    <select ng-model="member.role">
                        <option value=""></option>
                        <option value="Carry">Carry</option>
                        <option value="Mid">Mid</option>
                        <option value="Offlane">Offlane</option>
                        <option value="Support">Support</option>
                    </select>
                </th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="small" ng-repeat="member in player.team.members | orderBy:'nick'">
                    <div ng-repeat="hero_priority in member.config.hero_priorities | orderBy:'-stat'">
                        <span ng-show="hero_priority.stat > 0" class="green">+{{hero_priority.stat}}</span>
                        <span ng-show="hero_priority.stat < 0" class="red">{{hero_priority.stat}}</span>
                        <span>{{hero_priority.name}} as {{hero_priority.role}}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="small" ng-repeat="member in player.team.members | orderBy:'nick'">
                    <div ng-show="member.config">Troll: {{member.config.troll_level}}</div>
                    <div ng-show="member.config">Flame: {{member.config.flame_level}}</div>
                </td>
            </tr>
            <tr>
                <td class="small" ng-repeat="member in player.team.members | orderBy:'nick'">
                    <div ng-repeat="(name, value) in member.stats">
                        <span class="stats_color capitalized">{{name}}:</span>
                        <span class="">{{value}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="update()" class="btn btn-primary" ng-disabled="isDoingConfigAction || (player.id != player.team.owner.id)" title="Only team owner can update">Update</button>
        <button type="button" ng-click="cancel()" class="btn btn-warning">Close</button>
    </div>
</script>