<div ng-show="player != null" id="teamView" class="row view" ng-controller="TeamController as teamController">

    <div class="col-xs-12 col-sm-6 col-md-5">

        <div ng-show="player.team == null">
            <h1>Create or join a team</h1>
            <button ng-show="player.team == null" ng-click="openCreateTeamDialog()" class="btn btn-default">Create a team</button>
            <button ng-show="player.team == null" ng-click="openApplyTeamDialog()" class="btn btn-default">Apply to join a team</button>
        </div>

        <div ng-show="player.team != null">
            <h1>{{player.team.name}}</h1>

            <div ng-show="player.team.applications.length == 0">No applications</div>

            <div ng-show="player.team.applications.length > 0">
                <h3 class="sub-header">Applications:</h3>
                <table class="table table-responsive">
                    <tbody>
                    <tr ng-repeat="application in player.team.applications">
                        <td>{{application.player.nick}}:</td>
                        <td>{{application.text}}</td>
                        <td>
                            <div class="btn-toolbar pull-right">
                                <button ng-show="player.id == player.team.owner.id" ng-click="acceptApplication(application)" class="btn btn-primary">Accept</button>
                                <button ng-show="player.id == player.team.owner.id" ng-click="declineApplication(application)" class="btn btn-warning">Decline</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="player.team.members.length > 0">
                <h3 class="sub-header">Members:</h3>
                <table class="table">
                    <tbody>
                    <tr ng-repeat="member in player.team.members">
                        <td>{{member.nick}}<span ng-show="member.id == player.team.owner.id"> (owner)</span></td>

                        <td>
                            <div class="btn-toolbar pull-right">
                                <button ng-click="kickMember(member)" class="btn btn-warning" ng-show="player.id == player.team.owner.id && member.id != player.team.owner.id">Kick</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>


<script type="text/ng-template" id="createTeamDialogContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Create a new DOTA team</h3>
    </div>
    <div class="modal-body">
        <input type="text" ng-model="team_name" placeholder="Team name" class="form-control">
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="ok()" class="btn btn-primary">Create</button>
        <button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="applyTeamDialogContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Apply to a new DOTA team</h3>
    </div>
    <div class="modal-body">
        <select ng-model="team_id" ng-options="team.id as team.name for team in teams" class="form-control"></select>
        <input type="text" ng-model="application_text" placeholder="Application text" class="form-control">
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="ok()" class="btn btn-primary">Apply</button>
        <button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
    </div>
</script>